.container {
  margin: 2rem auto 0;
  height: calc(100vh - 60px);
  width: 350px;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper > h2 {
  font-size: 32px;
  color: #222;
  letter-spacing: 1px;
}

.wrapper > form {
  /* width: 90%; */
  margin-top: 20px;
  padding: 2.5rem 2rem;
  border: 1px solid #666;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2px 32px rgb(0 0 0 / 0.2);
  border-style: none;
}

.wrapper > form > input {
  outline: none;
  border: none;
  border-bottom: 1px solid #666;
  padding: 0.5rem;
  width: 19rem;
}

.submitButton {
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: bold;
  background-color: #efefef;
  color: #22ab22;
  cursor: pointer;
  transition: 150ms;
  letter-spacing: 0.5px;
  /* width: 88px; */
}

.submitButton:hover {
  border-color: #22ab22;
  background-color: #22ab22;
  color: #efefef;
}

.loginNow {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  margin-top: 1.75rem;
  cursor: pointer;
  text-align: center;
  transition: 150ms;
  width: 200px;
}

.loginNow:hover {
  color: #555;
}

.loginNow > span {
  color: #22ab22;
}

.loginNow > span:hover {
  color: #079107;
}
