.container{
  min-height: calc(100vh - 60px);
  width: 100%;
}

.wrapper{
  height: 100%;
  width: 85%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: .725rem;
 /* media query */
  @media (max-width: 768px) {
    justify-items: center;
  }
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 32px;
}