

 /* 480-less    - phone landscape & smaller */
 @media all and (max-width: 480px) { 
.container{
  min-height: calc(100vh - 60px);
  width: 100%;
}

.wrapper{
  height: 100%;
  width: 85%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
}

.container > h3{
  text-align: center;
  color: #333;
  
  margin-top: 1.5rem;
  font-weight: 100;
  
}

.noBlogs {
  margin: auto;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
  font-weight: bolder;
}
 }



 /* 768-480     - tablet  */
 @media all and (min-width: 480px) and (max-width: 768px) { 
  .container{
  min-height: calc(100vh - 60px);
  width: 100%;
}

.wrapper{
  height: 100%;
  width: 85%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
}

.container > h3{
  text-align: center;
  color: #333;
  
  margin-top: 1.5rem;
  font-weight: 100;
  
}

.noBlogs {
  margin: auto;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
  font-weight: bolder;
}
 }


 /* 1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) { 
  .container{
  min-height: calc(100vh - 60px);
  width: 100%;
}

.wrapper{
  height: 100%;
  width: 85%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
}

.container > h3{
  text-align: center;
  color: #333;
  
  margin-top: 1.5rem;
  font-weight: 100;
  
}

.noBlogs {
  margin: auto;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
  font-weight: bolder;
}
}


 @media all and (min-width: 1280px) {
    .container{
  min-height: calc(100vh - 60px);
  width: 100%;
}

.wrapper{
  height: 100%;
  width: 85%;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container > h2{
  text-align: center;
  color: #333;
  margin-top: 1.5rem;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
}

.container > h3{
  text-align: center;
  color: #333;
  
  margin-top: 1.5rem;
  font-weight: 100;
  
}

.noBlogs {
  margin: auto;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-family:"Raleway", sans-serif;
  font-weight: bolder;
}
 }