

 /* 480-less    - phone landscape & smaller */
 @media all and (max-width: 480px) { 
.container{
    width: 100%;
    height: auto;
    box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.15);
    transition: 150ms;
    border-radius: 12px;
    border: 5px solid yellow;
    margin: 40px auto;
}

.container:hover{
    box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.4);
}

.wrapper{
    padding: 1.25rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper > .imgContainer > img{
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
}

.blogData{
    margin-left: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogData > .left > h3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

.blogData > .left > p{
   color: #666; 
}

.blogData > .left > span{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
}

.blogData > .left > span > span{
    color: #777;
}

.blogData > .right{
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 40px;
    bottom: 20px;
}
 }